body{
	background: white;
}
.img_escudo{
	margin: 20px;
	padding: 20px;
	width: 200px;
	height: 200px;
}

/** MENU*/
#menu {
	width:60%;
	font-family:Arial, Helvetica, sans-serif;
	
}
ul, ol {
	list-style:none;
}       
#nav > li {
	float:left;
}

#nav li {
	width:26%;
	margin: 7px;
}
           
#nav li a {
	-webkit-border-radius: 20px 18px;
	background-color:#AA0606;
	color:#fff;
	text-decoration:none;
	padding:10px 0px;
	display:block;
	width:100%;
}
            
#nav li a:hover {
	background-color:#434343;
}
            
#nav li ul {
	display:none;
	position:absolute;
	width:100%;
}
            
#nav li:hover > ul {
	display:block;
}
#nav ul>li{

}
/** */
/** CONTENIDO */
#cuadrados{

	clear:both;
	min-width: 750px;
	padding-top: 20px;
	margin-bottom: -33px;
		display: -webkit-box;
	-webkit-box-orient: horizontal;
	-webkit-box-pack:center;
	height:450px;
	-webkit-box-flex: 1;
}

#box1{

	cursor:pointer;
	min-width: 175px;


	text-align: center;
	
	background-image: url("../images/escudo_navarra.png" ) ;
	background-size: 40% 70%;
	background-repeat: no-repeat;
 background-position: 50% 50%;


	padding: 20px;
	margin: 10px;
	width: 300px;
	height:230px;
	font: 28px Tahoma;

	-webkit-box-flex: 1;
	-webkit-box-align:center;
	-webkit-transition: -webkit-transform 0.5s;
	/*sombra*/
	-webkit-box-shadow: 0px -10px 16px -5px rgba(50, 50, 50, 0.3);
	-moz-box-shadow:    0px -10px 16px -5px rgba(50, 50, 50, 0.3);
	box-shadow:         0px -10px 16px -5px rgba(50, 50, 50, 0.3);

}

#box1:hover{

	-webkit-transform:scale(1.05);

	opacity: 1;	
}



#box2{
cursor:pointer;
	min-width: 175px;

	text-align: center;
	
	background-image: url("../images/escudo_rioja.png" );
	background-size: 40% 70%;
	background-repeat: no-repeat;
	padding: 20px;
	 background-position: 50% 50%;


	margin: 10px;
	width: 300px;
	height:230px;
	font: 28px Tahoma;

	-webkit-box-flex: 1;
	-webkit-box-align:center;
	-webkit-transition: -webkit-transform 0.5s;

	/*sombra*/
	-webkit-box-shadow: 0px -10px 16px -5px rgba(50, 50, 50, 0.3);
	-moz-box-shadow:    0px -10px 16px -5px rgba(50, 50, 50, 0.3);
	box-shadow:         0px -10px 16px -5px rgba(50, 50, 50, 0.3);

}


#box2:hover{

	-webkit-transform:scale(1.05);
	
	opacity: 1;
}

#box3{

cursor:pointer;
	min-width: 175px;

	text-align: center;
	
	background-image: url("../images/escudo_alava.jpg" );
	background-size: 50% 70%;
	background-repeat: no-repeat;
	 background-position: 50% 50%;
	padding: 20px;
	margin: 10px;
	width: 300px;
	height:230px;
	font: 28px Tahoma;

	-webkit-box-flex: 1;
	-webkit-box-align:center;
	-webkit-transition: -webkit-transform 0.5s;
	/*sombra*/
	-webkit-box-shadow: 0px -10px 16px -5px rgba(50, 50, 50, 0.3);
	-moz-box-shadow:    0px -10px 16px -5px rgba(50, 50, 50, 0.3);
	box-shadow:         0px -10px 16px -5px rgba(50, 50, 50, 0.3);
}


#box3:hover{

	-webkit-transform:scale(1.05);

	opacity: 1;
}
#tit{
	padding-top: 220px;
}
#subtit{
	font-size: 12px;
}
#elfooter{
	
}
#eslogan{

	width: 100%;
	background: #1d1d1d;
	margin: 0px;
	color: #d52349;
	text-align: center;
	word-spacing: 36px;
	font: italic bold 40px 'Source Sans Pro';
}
/** */