<!DOCTYPE HTML>
<html>
	<head>
		<meta charset="UTF-8">
		<link rel="shorcut icon" href="images/imagewine.png">
		<link rel="stylesheet" type="text/css" href="admin/css-admin/responsiveform.css">
		<script src="admin/txt/datos.txt"></script>
		<meta name="viewport" content="width=device-width, user-scalable=no">
		<meta name="viewport" content="width=device-width,initial-scale=1">
		<link rel="stylesheet" href="admin/css-admin/princi.css" />
		<script src="admin/js-admin/main-admin.js" type="text/javascript"></script>
		<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>	
		<script src="admin/js-admin/admin.js" type="text/javascript"></script>
	</head>
	<title>Kelo - Inicio</title>
	<body>
		<center><h1>Administracion Viñedos</h1></center>
		<section id="cuadrados">		
			<div id="box1" onclick="redireccion(this.id)">
				<p id="tit">AÑADIR</p>
				
			</div>
			<div id="box2" onclick="redireccion(this.id)">
				<p id="tit">ELIMINAR</p>
				
			</div>	
			<div id="box3" onclick="redireccion(this.id)">
				<p id="tit">MODIFICAR</p>
				
			</div>			
		</section>
		<div>
			<form method="get" action="/cerrarSesion">
        		<input type="submit" value="Salir" style="position:fixed;"/>
        	</form>
    	</div>
	</body>
</html>