body{
	/*background-image: url(../images/fondo.jpg);*/
}
a {
    text-decoration: none;
}
/* unvisited link */
a:link {
    color: #9C1350;
}

/* visited link */
a:visited {
    color: #9C1350;
}

/* mouse over link */
a:hover {
    color: #000000;
}

/* selected link */
a:active {
    color: #000000;
}
#header{
	width: 40%;
	margin-right: 10%;
	float: right;
	margin-top: 13%;
}
#fondo{
	margin-top: -10px;
	margin-right: -10px;
	margin-left: -50px;
	padding-top: 30px;
	height: 600px;
	background: url(../images/fondo3.png) no-repeat; 
	background-size: 100%;
}
/** MENU*/
#menu {
	width: 100%;
	font-family:Arial, Helvetica, sans-serif;
}
ul, ol {
	list-style:none;
}       
#nav > li {
	float:left;
}

#nav li {
	width:25%;
	margin: 12px;
}        
#nav li a {
	border: solid 0.8px #000000;
	text-align: center;
	-webkit-border-radius: 20px 18px;
	background-color:#9C1350;
	color:#fff;
	text-decoration:none;
	padding:10px 0px;
	display:block;
	width:100%;
}            
#nav li a:hover {
	background-color:#780E3E;
}
            
#nav li ul {
	display:none;
	position:absolute;
	width:100%;
}           
#nav li:hover > ul {
	display:block;
}
#nav ul>li{
	
}
/** */
/** CONTENIDO */
#cuadrados{
	clear:both;
	min-width: 700px;
	padding-top: 8%;
	margin-bottom: -33px;
	display: -webkit-box;
	-webkit-box-orient: horizontal;
	-webkit-box-pack:center;
	height:450px;
	-webkit-box-flex: 1;
}
#box1{
	cursor:pointer;
	min-width: 175px;
	text-align: center;
	background-image: url("../images/escudo_navarra.png" ) ;
	background-size: 40% 70%;
	background-repeat: no-repeat;
 	background-position: 50% 50%;
	padding: 20px;
	margin: 10px;
	width: 240px;
	height:230px;
	font: 28px Tahoma;
	-webkit-box-flex: 1;
	-webkit-box-align:center;
	-webkit-transition: -webkit-transform 0.5s;
	/*sombra*/
	-webkit-box-shadow: 0px -10px 16px -5px rgba(50, 50, 50, 0.3);
	-moz-box-shadow:    0px -10px 16px -5px rgba(50, 50, 50, 0.3);
	box-shadow:         0px -10px 16px -5px rgba(50, 50, 50, 0.3);
}
#box1:hover{
	-webkit-transform:scale(1.05);
	opacity: 1;	
}
#box2{
	cursor:pointer;
	min-width: 175px;
	text-align: center;
	background-image: url("../images/escudo_rioja.png" );
	background-size: 40% 70%;
	background-repeat: no-repeat;
	padding: 20px;
	background-position: 50% 50%;
	margin: 10px;
	width: 240px;
	height:230px;
	font: 28px Tahoma;
	-webkit-box-flex: 1;
	-webkit-box-align:center;
	-webkit-transition: -webkit-transform 0.5s;
	/*sombra*/
	-webkit-box-shadow: 0px -10px 16px -5px rgba(50, 50, 50, 0.3);
	-moz-box-shadow:    0px -10px 16px -5px rgba(50, 50, 50, 0.3);
	box-shadow:         0px -10px 16px -5px rgba(50, 50, 50, 0.3);
}
#box2:hover{
	-webkit-transform:scale(1.05);
	opacity: 1;
}
#box3{
	cursor:pointer;
	min-width: 175px;
	text-align: center;
	background-image: url("../images/escudo_alava.jpg" );
	background-size: 50% 70%;
	background-repeat: no-repeat;
	background-position: 50% 50%;
	padding: 20px;
	margin: 10px;
	width: 240px;
	height:230px;
	font: 28px Tahoma;
	-webkit-box-flex: 1;
	-webkit-box-align:center;
	-webkit-transition: -webkit-transform 0.5s;
	/*sombra*/
	-webkit-box-shadow: 0px -10px 16px -5px rgba(50, 50, 50, 0.3);
	-moz-box-shadow:    0px -10px 16px -5px rgba(50, 50, 50, 0.3);
	box-shadow:         0px -10px 16px -5px rgba(50, 50, 50, 0.3);
}
#box3:hover{
	-webkit-transform:scale(1.05);
	opacity: 1;
}
#tit{
	padding-top: 220px;
}
#subtit{
	font-size: 12px;
}
#elfooter{
	clear:both;
	position: relative;
	/*position: fixed;*/
}
#eslogan{
	clear:both;
	width: 100%;
	background: #1d1d1d;
	margin: 0px;
	color: #780E3E;
	text-align: center;
	word-spacing: 36px;
	font: italic bold 40px 'Source Sans Pro';
}
/** SEARCH */
#tfheader{
		
	}
	#tfnewsearch{
		float:right;
		padding:20px;
	}
	.tftextinput{
		margin: 0;
		padding: 5px 15px;
		font-family: Arial, Helvetica, sans-serif;
		font-size:14px;
		border:1px solid #000000;
		border-top-left-radius: 5px 5px;
		border-bottom-left-radius: 5px 5px;
	}
	.tfbutton {
		margin: 0;
		padding: 5px 15px;
		font-family: Arial, Helvetica, sans-serif;
		font-size:14px;
		outline: none;
		cursor: pointer;
		text-align: center;
		text-decoration: none;
		color: #ffffff;
		border: solid 1px #000000;
		background: #d52349;
		background: -webkit-gradient(linear, left top, left bottom, from(#9C1350), to(#9C1350));
		background: -moz-linear-gradient(top,  #9C1350,  #9C1350);
		border-top-right-radius: 5px 5px;
		border-bottom-right-radius: 5px 5px;
	}
	.tfbutton:hover {
		text-decoration: none;
		background: #007ead;
		background: -webkit-gradient(linear, left top, left bottom, from(#780E3E), to(#780E3E));
		background: -moz-linear-gradient(top,  #780E3E,  #780E3E);
	}
	/* Fixes submit button height problem in Firefox */
	.tfbutton::-moz-focus-inner {
	  border: 0;
	}
	.tfclear{
		clear:both;
	}
/** */
#vinos_navarra{
	display:none;
	margin: 20px;
	padding: 20px;
}
/*#vinos_navarra > div{
	width: 100px;
	height: 80px;
}*/
#vinos_navarra > div > img{
	width: 100px;
	height: 80px;
}
#vinos_rioja{
	display:none;
	margin: 20px;
	padding: 20px;
}
/*#vinos_rioja > div{
	width: 100px;
	height: 80px;
}*/
#vinos_rioja > div > img{
	width: 100px;
	height: 80px;
}
#vinos_alava{
	display:none;
	margin: 20px;
	padding: 20px;
}
/*#vinos_alava > div{
	width: 100px;
	height: 80px;
}*/
#vinos_alava > div > img{
	width: 100px;
	height: 80px;
}
#vinos_navarra > li {
	list-style: none;
}
#vinos_rioja > li {
	list-style: none;
}
#vinos_alava > li {
	list-style: none;
}
/***/
#vinos_navarra article {
	margin: 3% 0 4% 3.8%;
	display: inline-block;
	width: 20%;
	height: 300px;
	text-align: center;
	box-shadow: 1px 1px 6px 0px rgba(50, 50, 50, 0.75);
	overflow: hidden;
}

#vinos_navarra article img {
	width: 100%;
	max-height: 160px;
	min-height: 100px;
}

#vinos_navarra h3 {
	margin: 5% 0 3% 0; 	
	font-family: 'Lora', serif;
	color: #303030;
}

#vinos_navarra p {
	padding: 2%;	
	font-size: 90%;
	font-family: 'Courgette', cursive;
	color: #797070;
}
#vinos_rioja article {
	margin: 3% 0 4% 3.8%;
	display: inline-block;
	width: 20%;
	height: 300px;
	text-align: center;
	box-shadow: 1px 1px 6px 0px rgba(50, 50, 50, 0.75);
	overflow: hidden;
}

#vinos_rioja article img {
	width: 100%;
	max-height: 160px;
	min-height: 100px;
}

#vinos_rioja h3 {
	margin: 5% 0 3% 0; 	
	font-family: 'Lora', serif;
	color: #303030;
}

#vinos_rioja p {
	padding: 2%;	
	font-size: 90%;
	font-family: 'Courgette', cursive;
	color: #797070;
}
#vinos_alava article {
	margin: 3% 0 4% 3.8%;
	display: inline-block;
	width: 20%;
	height: 300px;
	text-align: center;
	box-shadow: 1px 1px 6px 0px rgba(50, 50, 50, 0.75);
	overflow: hidden;
}

#vinos_alava article img {
	width: 100%;
	max-height: 160px;
	min-height: 100px;
}

#vinos_alava h3 {
	margin: 5% 0 3% 0; 	
	font-family: 'Lora', serif;
	color: #303030;
}

#vinos_alava p {
	padding: 2%;	
	font-size: 90%;
	font-family: 'Courgette', cursive;
	color: #797070;
}
/*POP UP*/
.modalDialog {
	position: fixed;
	font-family: Arial, Helvetica, sans-serif;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(0,0,0,0.8);
	z-index: 99999;
	opacity:0;
	-webkit-transition: opacity 400ms ease-in;
	-moz-transition: opacity 400ms ease-in;
	transition: opacity 400ms ease-in;
	pointer-events: none;
}
.modalDialog:target {
	opacity:1;
	pointer-events: auto;
}

.modalDialog > div {
	width: 400px;
	position: relative;
	margin: 10% auto;
	padding: 5px 20px 13px 20px;
	border-radius: 10px;
	background: #fff;
	background: -moz-linear-gradient(#fff, #999);
	background: -webkit-linear-gradient(#fff, #999);
	background: -o-linear-gradient(#fff, #999);
	-webkit-transition: opacity 400ms ease-in;
-moz-transition: opacity 400ms ease-in;
transition: opacity 400ms ease-in;
}
.close {
	background: #606061;
	color: #FFFFFF;
	line-height: 25px;
	position: absolute;
	right: -12px;
	text-align: center;
	top: -10px;
	width: 24px;
	text-decoration: none;
	font-weight: bold;
	-webkit-border-radius: 12px;
	-moz-border-radius: 12px;
	border-radius: 12px;
	-moz-box-shadow: 1px 1px 3px #000;
	-webkit-box-shadow: 1px 1px 3px #000;
	box-shadow: 1px 1px 3px #000;
}

.close:hover { background: #00d9ff; }