html{
	margin-left: -12%;
	margin-right: -12%;
	
}
.modalDialog > div {
	width: 100px;
}
#cuadrados{
	width: 450px;
}
#logo{
	margin-top: -50px;
}
#tfnewsearch{
	margin-top: -40px
}
.vinedos > div > div {
	width: 370px;

}
.vinedos >  div {
	font-size: 12px;
margin-top: -10px;
}
	#fondo{
		background: none;
		height: 400px;
		
		margin-right: 10px;
		margin-left: 50px;
		margin-top:-50px;
	}
	#header{
		float: left;
	}
	#header{
		width: 100%;
	}
	#menu{
		margin: 10px;
	}

	#audio{
		display: none;
	}

	#cuadrados{

		display: block;
		

	}
	#box1{
		width: 350px;
		margin-bottom: 120px;
		margin-left: 110px;
	}

	#box2{
		width: 350px;
		margin-bottom: 120px;
		margin-left: 110px;
	}

	#box3{
		width: 350px;
		margin-bottom: 120px;
		margin-left: 110px;
	}

	#tit{
		padding-top: 180px;
	}
	div#otro{
		display: none;
	}
	input[type=text]{
		width: 50%;
	}
	.tftextinput{
		font-size: 20px;
	}
	#vinos_navarra{
		margin-top:120%;
	}
	#vinos_rioja{
		margin-top:120%;
	}
	#vinos_alava{
		margin-top:120%;
	}

